<form id="forma" onsubmit="return false;">
    <div class="agregar">
        <div class="agregar_contenedor">
            <div class="ui action input" id="select_container">
                <select id="tipo" class="agregar_tipo ui selection dropdown" name="tipo" [(ngModel)]="tipo">
                    <option value="0"[selected]="true">Qué quieres agregar?</option>
                    <option value="ingreso">Un ingreso</option>
                    <option value="egreso">Un gasto</option>
                </select>
            </div>
            <span id="desc_input_cont" class="ui input">
                <input type="text" class="agregar_descripcion" placeholder="Descripción" id="descripcion" 
                [(ngModel)]="descripcion"  name="descripcion"/>
            </span>
            <span id="val_input_cont" class="ui input">
                <input type="number" name="valor" class="agregar_valor" placeholder="Monto" id="valor" step="any"
                [(ngModel)]="valor" />
            </span>
            <!-- step any es para poder agregar puntos decimales -->
            <button class="agregar_btn" (click)="agregarDato()" title="Agregar">
                +
            </button>
        </div>
    </div>
</form>
